body{
  background-color:white;
}
.top{
    display:flex;
    
    background: linear-gradient(white,rgb(85, 178, 240));
    
    
}
.top1{
    margin-left:300px;
    font-size:27px;
    margin-top:20px;
    
}
a{
    color: black;
    text-decoration: none;
}
.top2{
  position: relative;
}
.top3{
    position: absolute;
}
.container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  button{
    background-color:rgb(175, 224, 245);
    height:45px;
    width:138px;
    border-radius:10px;
    text-align: center;
    margin-top:10px;
    margin-left:25px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  .top4{
    display:flex;
  }
  .top5{
    background-image:linear-gradient(#A9F1DF ,#FFBBBB);
    border: 1px solid black;
    height:250px;
    width:330px;
    padding:15px;
    margin-top: 10px;
    margin-left:35px;
    margin-right:10px;
  }